* {
    padding: 0;  
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 35px;
    background-color: rgba(128, 0, 100, 0.411);
    border-radius: 10px;
    text-decoration: none;
    color: beige;
    text
}

body{
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

 
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.my-name {
    color: white;
    padding: 30px;

}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.links a:hover {
    background-color: purple;
}

